# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.whl

# Compiled extensions
*.so
*.pyd
*.dylib
*.dll

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Jupyter
.ipynb_checkpoints/