include README.md
include LICENSE
include pyproject.toml
recursive-include include *.hpp
recursive-include include/optipricer *.hpp
recursive-include src *.cpp
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *.so
global-exclude build/
global-exclude dist/
global-exclude *.egg-info/
